h1{
    text-align: center;
}

.navigation{
    display: flex;
    border-bottom: 1px  solid #807e7e;
    background-color: #cfcfcf;;
}

.logo{
    margin: 5px 200px;
    z-index: 1;
    list-style: none;
}

.logo img{
    width: 40px;
}

.items-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
}

.header-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 5px;
    left: 270px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    height: 30px;
    border-right: 1px solid #807e7e;
}

.header-items a{
    text-decoration: none;
    color: black;
    font-family: OCR A Std, monospace;
}

.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 5px;
    left: 270px;
    padding: 10px 10px;
    text-transform: uppercase;
    font-weight: bold;
    height: 30px;
}

label {
    font-weight: bolder;
}
::placeholder {
    color: lightskyblue !important;
    opacity: 3;
}
::-webkit-input-placeholder { 
    color:  lightskyblue !important;
}
:-moz-placeholder { 
    color:  lightskyblue !important;
    opacity:  3;
 }
 h1 {
     text-align: center;
 }
 #msg {
     height: 60px;
 }
 #grid-contatos tbody {
     cursor: pointer;
 }

